@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/gxl0ptg.css");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cantata+One&family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Italiana&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


html{
  background: #000000;

  padding: 0;
  margin: 0;
}


.canvas{
  background: linear-gradient(to left, #4fb576 , #44c489 , #28a9ae , #28a2b7 , #4c7788 , #6c4f63 , #432c39 );
	background-size: 400% 400%;
	animation: gradient 7.5s ease infinite;
  padding: 0;
  margin: 0;
  font-family: 'mongoose';
}


.MuiOutlinedInput-notchedOutline{
  border-color: #f5f5f5 !important;
}
.MuiFilledInput-root {
  border-bottom: solid #f5f5f5 !important;
}
.MuiMenu-list{
  background-color: #000000;
}
.white-text{
  color: #f5f5f5;
}

.active-link-me{
  font-size: '300rem';
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-200%);
  }
}
@keyframes slide-left2 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-110%);
  }
}
@keyframes slide-left-portfolio {
  from {
    -webkit-transform: translateX(300%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-115%);
    transform: translateX(-100%);
  }
}
@keyframes slide-left-about {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(110%);
  }
  to {
    -webkit-transform: translateX(-115%);
    transform: translateX(-110%);
  }
}
